<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podr{as crear tus propios Juegos</p>
    <br>
    <a href="http://localhost:3000/question" >Comience a Jugar</a>
  </body>
</html>
