<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"><title> Preguntas </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' 
        type='text/css'
        media='only screen and (min-width: 530px) and (min-device-width: 481px)'
        href='/stylesheets/wide.css' />
  <link rel='stylesheet'
        type='text/css'
        media='only screen and (max-width: 480px)' 
        href='/stylesheets/smartphone.css' />

</head> 
  <body>
    <div id="wraper">

		<header>
			<h1>quiz: EL juego de las preguntas</h1>
		</header>
		<nav>
			<li><a href="/"> Inicio</a></li>
			<li><a href="/question"> Preguntas</a></li>
			<li><a href="/autor"> Autores</a></li>
		</nav>

		<section class="main" id="section1">	

			<%- body %>
		</section>

		<footer class="main" id="footer1">
			<p> <a href="#">Github</a></p>
		</footer>


    </div>

  </body>
</html>
