   <br>
   <form method="get" action="/answer">        
      <b>Pregunta:</b> <%= pregunta %> <p>
      <input type="text" name="respuesta" placeholder="responder"/>
      <input type="submit" value="Enviar" class="button">
    </form>
<br>
